<!DOCTYPE html>
<html>
  <head>
    <title>Hoopr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.test = '<%= image_url('signup_illustration.png') %>'
      window.logo = '<%= image_url('logo_transparent.png') %>'
      window.whistle = '<%= image_url('whistle.png') %>'
      window.cloud = '<%= image_url('cloud.png') %>'
      window.ball = '<%= image_url('ball.png') %>'
      window.close = '<%= image_url('close.png') %>'
      window.hoop = '<%= image_url('low-angle-hoop.jpg') %>'
      window.ai = '<%= image_url('allen-iverson.jpg') %>'
      window.venice = '<%= image_url('venice.jpg') %>'
      window.shoot = '<%= image_url('shoot.jpg') %>'
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
