<!DOCTYPE html>
<html>
  <head>
    <title>Hoopr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['MAP_API_KEY']}" %>
    <%= stylesheet_link_tag 'application', media: 'all' %> <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/9efd3d81b7.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
      window.test = '<%= image_url('signup_illustration.png') %>'
      window.logo = '<%= image_url('logo_transparent.png') %>'
      window.whistle = '<%= image_url('whistle.png') %>'
      window.cloud = '<%= image_url('cloud.png') %>'
      window.ball = '<%= image_url('ball.png') %>'
      window.close = '<%= image_url('close.png') %>'
      window.hoop = '<%= image_url('low-angle-hoop.jpg') %>'
      window.ai = '<%= image_url('allen-iverson.jpg') %>'
      window.venice = '<%= image_url('venice.jpg') %>'
      window.shoot = '<%= image_url('shoot.jpg') %>'
      window.map = '<%= image_url('map-screenshot.png') %>'
      window.cam = '<%= image_url('md-camera.png') %>'
      window.phone = '<%= image_url('phone-icon.png') %>'
      window.web = '<%= image_url('web-visit.png') %>'
      window.ballicon = '<%= image_url('ballicon.svg') %>'
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
